.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: var(--light-bg);
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  max-width: 400px;
  margin: 20px auto;
}

.newsletter h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--text-dark);
  user-select: none;
}

.newsletter p {
  font-size: 0.9rem;
  margin-bottom: 20px;
  color: var(--text-dark);
  user-select: none;
}

.newsletterForm {
  display: flex;
  width: 100%;
}

.newsletterForm input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.newsletterForm button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.newsletterForm button:hover {
  background-color: var(--highlight-color);
}

/* Responsive stacking for narrow screens */
@media (max-width: 500px) {
  .newsletterForm {
    flex-direction: column;
  }

  .newsletterForm input {
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .newsletterForm button {
    border-radius: 4px;
  }
}
