.search {
  display: flex;
  align-items: center;
  background-color: var(--bg-white-color);
  gap: 8px;   /* space between input and button */
  width: fit-content;
}

.form-input {
  display: flex;
}

.form-input input {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px 12px;
  width: 200px;
  background: transparent;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.search-btn i {
  color: white;
  font-size: 18px;
}

.search-btn:hover i {
  color: var(--primary-color);
  scale: 1.1; /* Slightly enlarge on hover */
}

.search-btn:active i {
  color: var(--highlight-color);
  scale: 0.9; /* Slightly shrink on click */
}
