.recomendedSection {
  width: 100%;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.figureContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
